body {
  margin: 0;
  font-family: monospace;
  height: 100vh;
}

.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.DefaultAppBackGround {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}

.AlertAppBackGround {
  background-color: #ff7f00;
}

.DangerAppBackGround {
  background-color: #ff0000;
}

.Container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: 700;
  background-color: #ffffff;
  border-radius: 20px;
}

.Container > .Card {
  margin: 20px;
  padding: 10px;

  font-size: 28px;
  font-weight: 700;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
